@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Lato Black"), local("Lato-Black"),
    url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh50XSwiPGQ.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Lato Bold"), local("Lato-Bold"),
    url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPGQ.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Lato Regular"), local("Lato-Regular"),
    url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXg.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Lato Light"), local("Lato-Light"),
    url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh7USSwiPGQ.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
}
h4,
h2,
p {
  margin: 0;
}

/* Get a quote */

.get-a-quote {
  background-color: #f06c64;
}

.get-a-quote__title {
  padding-top: 69px;
  font-size: 30px;
  line-height: 18px;
  color: #f0d8d9;
  font-weight: 900;
  text-align: left;
}

.get-a-quote__text {
  padding-top: 25px;
  font-size: 18px;
  line-height: 30px;
  color: #f0d8d9;
  font-weight: 300;
  text-align: justify;
}

.layout-2-column {
  display: flex;
  justify-content: space-between;
}

.get-a-quote__form,
.contact-information {
  padding-top: 44px;
}

.get-a-quote__form {
  width: 619px;
}

input,
textarea {
  width: 619px;
  border: none;
  border-radius: 5px;
  background-color: #d6564f;
}

.get-a-quote__form_email,
.get-a-quote__form_name,
.get-a-quote__form_subject {
  margin-bottom: 16px;
  padding: 10px 14px 12px;
}

.get-a-quote__form_message {
  margin-bottom: 16px;
  height: 202px;
  resize: none;
  padding: 7px 14px 12px;
}

::placeholder {
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-weight: 400;
  text-align: left;
}

.contact-information {
  padding-left: 20px;
}

h4 {
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 18px;
  color: #f0d8d9;
  font-weight: 900;
  text-align: left;
}

.contact-information__text,
a,
address {
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-weight: 400;
  text-align: justify;
  letter-spacing: -0.09px;
}

.contact-information__text {
  padding-bottom: 19.1px;
}

a {
  font-style: normal;
  text-decoration: none;
}

.icons_location {
  margin-left: 3px;
  margin-right: 11px;
  display: inline-block;
  background-image: url(assets/location.png);
  width: 7px;
  height: 11px;
}

.icons_phone {
  margin-right: 8px;
  display: inline-block;
  background-image: url(assets/phone2.png);
  width: 11px;
  height: 11px;
}

.icons_mail {
  margin-right: 7.5px;
  display: inline-block;
  background-image: url(assets/mail.png);
  width: 13px;
  height: 8px;
}

/* Button */

button {
  font-size: 20px;
  font-weight: 400;
  color: #f48c8f;
  text-shadow: 0 -1px #0000001a;
  text-decoration: none;
  user-select: none;
  padding: 3px 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  background: #d6564f linear-gradient(#ce413a, #e44d4581);
  box-shadow: inset #d6564f 0 -1px 1px, inset 0 1px 1px #ce413a,
    #e44d4581 0 0 0 1px, #4e02024d 0 2px 5px;
  margin-bottom: 19px;
}

button:hover:not(:active) {
  cursor: pointer;
}

button:active {
  top: 1px;
  box-shadow: 0 0 1px #a03f3f inset, 0 2px 3px #f8505079 inset,
    0 1px 1px #e47a7a;
}

.get-a-quote__bottom {
  width: 1020px;
  height: 6px;
  background-color: #ea676b;
}

/* Footer */

.footer {
  height: 76px;
  background-color: #2d303a;
}

.footer__copyright {
  padding-top: 36px;
  font-size: 12px;
  line-height: 2px;
  color: #666d89;
  font-weight: 400;
  text-align: left;
  letter-spacing: -0.075px;
}

.footer__social-media {
  padding-top: 22px;
}

#google,
#twitter,
#linkedIn {
  padding-left: 5px;
}
